nav {
  position: relative;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
}

nav a {
  position: absolute;
  top: 38%;
  left: 5%;
}

#profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

.subheading-font {
  font-size: 12px;
}

#back-icon {
  font-size: 18px;
}

.btn-bg-1 {
  padding: 8px;
  color: grey;
  background-color: #e6e7e9;
}

.btn-bg-2 {
  height: 42px;
  font-size: 12px;
  background-color: #091440
}

#ctaBtns {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
  width: 100%;
}

.btn-shadow {
  box-shadow: -1px 2px 8px 1px #888; 
}

lottie-player {
  width: 60px;
  height: 60px;
}

#secondLottiePlayer {
  transform: scale(0.5);
}

#thirdLottiePlayer {
  transform: scale(0.8);
}

.ptsAlign {
  position: relative;
  top: -12px;
}

.ptsTxt {
  position: relative;
  top: -3px;
}