nav {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

nav a {
  position: absolute;
  top: 2.5px;
  left: 0;
}

#profile-image {
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

.subheading-font {
  font-size: 12px;
}

#back-icon {
  font-size: 18px;
}

.btn-bg-1 {
  padding: 8px;
  color: grey;
  background-color: #e6e7e9;
}

.btn-bg-2 {
  height: 42px;
  font-size: 12px;
  background-color: #091440
}

#ctaBtns {
  /* background: rgba(255, 255, 255, 0.9); */
  background-image: linear-gradient(to top, #fff, #fff, rgba(255, 255, 255, 0.4));

}

.btn-shadow {
  box-shadow: -1px 2px 8px 1px #888; 
}
