body {
  font-family: 'Source Sans Pro', sans-serif;
}

#basic-addon1 {
  color: #A8A7B1;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#basic-addon1,  input[type="text"] { 
  border-color: #E5E5E5;
  background-color: #fafafa !important;
}

input[type="text"], .form-control:focus {
  border-color: #E5E5E5;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
} 

.icon-border {
  border-color: #80bdff;
}

input[type="text"]::-webkit-search-cancel-button {
  cursor: pointer;
}

#close-list-btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  left: 5px;
}

#close-list-btn:hover {
  color: red;
}

.member {
  cursor: pointer;
}

#resetFilterOp {
  display: none;
}

img {
  width: 54px;
  height: auto;
  border-radius: 50%;
}

.offsetY {
  position: relative;
  top: -4px;
}

#members-container {
  position: relative;
  top: -7px;
}

i {
  font-size: 20px !important;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.firmName {
  font-size: 15px;
}

.input-group-append {
  position: relative;  
}

.input-group-append img{
  position: absolute;
  top: 24%;
  left: -52%;
  width: 16px;
  height: auto;
  border-radius: 50%;
}

.fc {
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  border-color: #E5E5E5;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  display: block;
  font-weight: 400;
  color: #495057;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}