:root {
  --primary: #4CA645;
  --danger: #FD2D55;
  --moderate: #FFBB22;
  --safe: #4CA645;
  --brand_blue: #223A9B;
}

body {
  font-family: 'Josefin Sans', Arial, sans-serif;
}

#banner {
  background: var(--primary);
  font-size: 0.9em;
}

#cart_icon, #menu_icon, #apple_icon {
  font-size: 1.5rem !important;
}

#cart_icon {
  position: relative;
  bottom: 2px;
}

nav {
  height: 100%;
  width: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  opacity: 0.9;
  padding-top: 10px;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.1s;
  border-bottom: 1px solid #adb5bd24;
  padding: 16px 24px;
}

nav a:hover {
  color: var(--primary);
}

nav #closebtn {
  position: absolute;
  top: 5px;
  right: 0.5px;
  font-size: 32px;
  margin-left: 50px;
  border: 0;
}

.container .input-group { 
  border-bottom: 1px solid #adb5bd24 !important;
}

#basic-addon1, #searchbox {
  background-color: rgba(255, 255, 255, 0.15);
}

#search_icon {
  color: #000;
  font-size: 20px;
}

input[type="search"]:hover {
  border: 1px solid #fff;
  box-shadow: none;
}

.navbar-brand img {
  height: 80px;
}

header button:focus {
  box-shadow: none !important; 
}

/* risk section 1  */
#risk_section1 p {
  margin: 0;
}

#risk_section1 img {
  width: 50px;
  height: auto;
}

#risk_section1 {
  border: 1px solid var(--danger);
}

#status_description1 > :first-child {
  color: var(--danger);
}
/*  risk section 1 ends */

/* risk section 2  */
#risk_section2 p {
  margin: 0;
}

#risk_section2 img {
  width: 50px;
  height: auto;
}

#risk_section2 {
  border: 1px solid var(--moderate);
}

#status_description2 > :first-child {
  color: var(--moderate);
}
/*  risk section 2 ends */

/* risk section 3  */
#risk_section3 p {
  margin: 0;
}

#risk_section3 img {
  width: 50px;
  height: auto;
}

#risk_section3 {
  border: 1px solid var(--safe);
}

#status_description3 > :first-child {
  color: var(--safe);
}
/*  risk section 3 ends */


/* download section  */
#download p {
  color: var(--brand_blue);
  font-size: 1.125em;
}

#download button {
  background-color: #000;
}

.btn_img {
  height: 42px;
} 

.storeName {
  font-size: 1.4em;
}


/* highlights styles */
.list-group-item {
  padding: 0;
  border: 0;
  color:  #999;
}

.list-group-item::before {
  content: "- "
}

#disclaimer p { 
  color: #999;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#insta_logo {
  background: white;
  width: 27px;
  height: auto;
  padding: 4px;
  border-radius: 50%;
  margin-left: 5px;
}

footer h5 {
  font-size: 0.8em;
  line-height: 1.8;
}

/* modal popup  */
.modal-header img {
  width: 22px;
  height: auto;
  stroke: black;
}

.modal-body h4, .modal-body h3, p.tagline {
  color: var(--brand_blue);
}

.modal-body img {
  width: 100px;
  height: auto;
}

.modal-body h3 span {
  color: var(--safe);
}

.modal-body h3 {
  letter-spacing: 4px;
}

.modal-body p:last-child {
  color: #999;
}
